/* GENERAL */
body {
	font-family: 'Lato', sans-serif;
	margin: 0px 0px;
	background: rgb(229, 229, 229);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

.divider {
	width: 100px;
	height: 2px;
	background-color: #24B5B5;
	margin: 40px auto 20px
}

section .heading {
	text-align: center;
	padding-bottom: 20px;
	font-weight: bold;
}

/* A PROPOS DE NOUS */
#about-us .heading h2 {
	color: #24B5B5;
	margin: 15px auto;
	text-transform: uppercase;
}

#partenaires .carousel-inner .carousel-caption h5 {
	padding: 0px auto 50px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 28px;
	color: #24b5b5;
	letter-spacing: 2PX;
	text-shadow: 2px 2px 2px #000;
}

#partenaires .carousel-inner .carousel-caption p {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	color: #24b5b5;
	letter-spacing: 2PX;
	text-shadow: 2px 2px 2px #000;
}

.about-us-text {
	margin: 40px auto 0;
	text-align: center;
}

.about-us-text span {
	font-weight: bold;
}

#partenaires {
	margin-bottom: 40px;
}

#partenaires .carousel-inner img {
	height: 300px;
	opacity: 0.5;
	border-radius: 10px;
}

