/* GENERAL */
body {
	font-family: 'Lato', sans-serif;
	margin: 0px 0px;
	background: rgb(229, 229, 229);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

.divider {
	width: 100px;
	height: 2px;
	background-color: #24B5B5;
	margin: 40px auto 20px
}

section .heading {
	text-align: center;
	padding-bottom: 20px;
	font-weight: bold;
}

/* NAVBAR */


/* #image {
	position: relative;
	top: 0;
	left: 0;
	padding-bottom: 40px;
	opacity: 0.2;
}

.longueur {
	width: 100%;
}

.largeur {
	height: 400px;
} */

/* SLOGAN */
/* #slogan {
	position: relative;
	padding-top: 30px;
	text-align: center;
	height: 220px;
} */

/* body h3 {
	float: left;
	margin-top: -30px;
	font-size: 15px;
	color: #000;
	width: 30%;
	text-transform: uppercase;
	color: #24b5b5;
	margin: auto;
	padding-top: 20px;
} */

/* SLOGAN */
#accueil .carousel-inner img {
	height: 300px;
	opacity: 0.5;
}

#accueil .carousel-inner .carousel-caption {
	margin: 0px auto 150px;
}

#accueil .carousel-inner .carousel-caption h5 {
	padding: 0px auto 50px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 28px;
	color: #24b5b5;
	letter-spacing: 2PX;
	text-shadow: 2px 2px 2px #000;
}

#myCarousel .carousel-inner .carousel-caption p {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	color: #24b5b5;
	letter-spacing: 2PX;
	text-shadow: 2px 2px 2px #000;
}

/* NOS-SERVICES-ACUEIL */
#nos-services .heading h2 {
	color: #24B5B5;
	margin: 15px 0;
	text-transform: uppercase;
}

#nos-services .service-accueil {
	width: 90%;
	margin: 30px auto;
	text-align: center;
	padding: 10px;
	background: rgba(36, 181, 181, 0.2);
	border-radius: 5px;
	border: 1px solid #24B5B5;
}

#nos-services .service-accueil img {
	border-end-end-radius: 5px;
	width: 128px;
	height: 128px;
	margin-bottom: 5px;
}

#nos-services .grey {
	background: rgba(128, 128, 128, 0.1);
}

#nos-services .green {
	background: rgba(36, 181, 181, 0.2);
}

#nos-services {
	margin: 0 60px 20px;
}

#nos-services .service-accueil a {
	color: #24b5b5;
	text-decoration: none;
}
