body{
    background: rgb(229, 229, 229);
}

/* NAVBAR */
.navbar {
    background: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 3px solid #24b5b5;
}

.navbar-nav {
    margin: 0 auto;
    text-align: center;
}

.nav-link {
    color: #fff !important;
    margin: 0 6px;
}

.nav-link.active, .nav-link:hover {
    color: #24b5b5 !important;
    background-color: #fff;
}

#myNavbar img {
    width: 128px;
    height: 100%
}

/* SLOGAN */
#slogan {
    width: 100%;
    height: 100%;
    /* text-align: center;
    text-transform: uppercase;
    color: #1dadad;
    margin: 50px auto; */
    background-image: url(images/12.jpeg) ;
}

#slogan h3 {
    width: 30%;
    text-align: center;
    text-transform: uppercase;
    color: #1dadad;
    margin: 50px auto;
}

.btn1{
    align-content: center;
    margin-bottom: 400px;
    margin-top: 150px;
    margin-left: 500px;
    height: 100px;
    width: 100px;
}

.modal-content{
    background-color: #25cbcb;
}

.btn1{
    background-color: #25cbcb;
    color: white;
    border-radius: 5px;
    border-color: #25cbcb;
}

.btn2{
    background-color: #bdf6f6;
    color: #25cbcb;
    border-radius: 5px;
    border-color: #25cbcb;
}

/*text*/
#texte h4{
    text-align: center;
    margin-top: 50px;
    color: white;
}
#texte h6{
    text-align: center;
    margin-top: 25px;
    color: white;
}

/*FOOTER*/
footer{
    background: #13c2c2;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

footer .row {
    text-align: center;
}

footer ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul li{
    margin: 20px 30px;
}

footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-align: center;
}

.copyright{
    text-align: center;
    margin-bottom: 20px;
}

/* CONTACTS  */
#contact .heading h2{
    color: #fff;
}

#contact-form{
    font-size: 20px;
    color: #13c2c2;
    background-color: white;
    margin-left: 300px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    height: 300px;
    border-radius: 10px;
    border-color: #13c2c2;
}

.form-control{
    height: 50px;
    font-size: 18px;
}
.comments{
    font-style: italic;
    font-size: 18px;
    color: #fff;
    height: 25px;
}

#contact-form input[type=submit]
{
    margin: 40px auto 0px;
    display: block;
    background-color: #13c2c2;
    color: white;
    border-radius: 5px;
    border-color: #13c2c2;
}

input[placeholder]{
    color: #13c2c2;
}
